body {
    font-size: large;
    color: rgba(34, 54, 58, 1);
}

div {
    max-width: 800px;
    padding: 2em;
    border-radius: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: rgb(232, 235, 242);
    text-align: left;
}

img.myface {
    max-width: 180px;
    height: auto;
    border-radius: 1em;
    margin: 1em;
    float: left;
}

h1, h3 {
    font-variant: small-caps;
    color: rgba(0, 51, 204, 1)
}

a {
    color: rgba(34, 54, 58, 0.5);
    text-decoration:none;
}
